 	
URL
	
Estado
	
Dominio
	
Tamaño
	
Línea de tiempo
Se ha alcanzado el límite del log de Firebug. 0 entradas sin mostrar.		Preferencias	 
Panel de Red activado. Todos los pedidos que se realicen mientras el panel de red esté inactivo no se muestran.
 	
-
			
0KB
	
(0KB desde la caché)
0ms
 
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
<div id="page-top-outer">
</div>
<div class="clear">&nbsp;</div>
<div class="nav-outer-repeat">
</div>
<div class="clear"></div>
<div id="content-outer">
<div id="content">
<div id="page-heading">
</div>
<table id="content-table" width="100%" cellspacing="0" cellpadding="0" border="0">
<tbody>
<tr>
</tr>
<tr>
<td id="tbl-border-left"></td>
<td>
<div id="content-table-inner">
<table width="100%" cellspacing="0" cellpadding="0" border="0">
<tbody>
<tr valign="top">
<td>
<div id="step-holder">
<div class="step-no">1</div>
<div class="step-dark-left">
</div>
<div class="step-dark-right">&nbsp;</div>
<div class="step-no-off">2</div>
<div class="step-light-left">Select related products</div>
<div class="step-light-right">&nbsp;</div>
<div class="step-no-off">3</div>
<div class="step-light-left">Preview</div>
<div class="step-light-round">&nbsp;</div>
<div class="clear"></div>
</div>
<table id="id-form" cellspacing="0" cellpadding="0" border="0">
</table>
</td>
<td>
</td>
</tr>
<tr>
</tr>
</tbody>
</table>
<div class="clear"></div>
</div>
</td>
<td id="tbl-border-right"></td>
</tr>
<tr>
</tr>
</tbody>
</table>
<div class="clear">&nbsp;</div>
</div>
<div class="clear">&nbsp;</div>
</div>
<div class="clear">&nbsp;</div>
<div id="footer">
</div>
<div id="tooltip" style="display: none;">
</div>
</body>
</html>
Se ha alcanzado el límite del log de Firebug. 0 entradas sin mostrar.		Preferencias	 
 	
URL
	
Estado
	
Dominio
	
Tamaño
	
Línea de tiempo
Se ha alcanzado el límite del log de Firebug. 0 entradas sin mostrar.		Preferencias	 
Panel de Red activado. Todos los pedidos que se realicen mientras el panel de red esté inactivo no se muestran.
 	
-
			
0KB
	
(0KB desde la caché)
0ms
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
</head>
<body id="yahoo-com" class="yui-skin-sam">
<div id="doc3" class="yui-t2">
<div id="hd">
</div>
<div id="bd">
<div id="yui-main">
<div class="yui-b">
<div class="yui-ge">
<div class="yui-u first example">
<div class="promo">
<h1>DataTable Control: Conditional row coloring</h1>
<div class="exampleIntro">
</div>
<div class="example-container module ">
<div class="hd exampleHd">
</div>
<div id="example-canvas" class="bd">
<div class="demo">
<div id="tbl" class="yui-dt">
<div class="yui-dt-mask" style="display: none;"></div>
<table id="yuievtautoid-0" summary="">
<colgroup>
<col>
<col>
<col>
<col>
</colgroup>
<thead>
<tr class="yui-dt-first yui-dt-last">
<th id="yui-dt0-th-SKU" class="yui-dt0-col-SKU yui-dt-col-SKU yui-dt-sortable yui-dt-first" rowspan="1" colspan="1">
<div id="yui-dt0-th-SKU-liner" class="yui-dt-liner">
</div>
</th>
<th id="yui-dt0-th-Item" class="yui-dt0-col-Item yui-dt-col-Item yui-dt-sortable" rowspan="1" colspan="1">
</th>
<th id="yui-dt0-th-Quantity" class="yui-dt0-col-Quantity yui-dt-col-Quantity yui-dt-sortable" rowspan="1" colspan="1">
</th>
<th id="yui-dt0-th-Description" class="yui-dt0-col-Description yui-dt-col-Description yui-dt-sortable yui-dt-last yui-dt-asc" rowspan="1" colspan="1">
</th>
</tr>
</thead>
<tbody class="yui-dt-message" style="display: none;">
</tbody>
<tbody class="yui-dt-data" tabindex="0" style="">
<tr id="yui-rec12" class="yui-dt-rec yui-dt-first yui-dt-even" style="">
<td id="yui-gen77" class="yui-dt0-col-SKU yui-dt-col-SKU yui-dt-sortable yui-dt-first" headers="yui-dt0-th-SKU ">
<div id="yui-gen76" class="yui-dt-liner">39-48949</div>
</td>
<td class="yui-dt0-col-Item yui-dt-col-Item yui-dt-sortable" headers="yui-dt0-th-Item " id="yui-gen141">
</td>
<td class="yui-dt0-col-Quantity yui-dt-col-Quantity yui-dt-sortable" headers="yui-dt0-th-Quantity " id="yui-gen129">
</td>
<td id="yui-gen53" class="yui-dt0-col-Description yui-dt-col-Description yui-dt-sortable yui-dt-last yui-dt-asc" headers="yui-dt0-th-Description ">
</td>
</tr>
<tr id="yui-rec14" class="yui-dt-rec yui-dt-odd" style="">
<td id="yui-gen137" class="yui-dt0-col-SKU yui-dt-col-SKU yui-dt-sortable yui-dt-first" headers="yui-dt0-th-SKU ">
</td>
<td id="yui-gen75" class="yui-dt0-col-Item yui-dt-col-Item yui-dt-sortable" headers="yui-dt0-th-Item ">
</td>
<td id="yui-gen131" class="yui-dt0-col-Quantity yui-dt-col-Quantity yui-dt-sortable" headers="yui-dt0-th-Quantity ">
</td>
<td id="yui-gen123" class="yui-dt0-col-Description yui-dt-col-Description yui-dt-sortable yui-dt-last yui-dt-asc" headers="yui-dt0-th-Description ">
</td>
</tr>
<tr id="yui-rec19" class="yui-dt-rec yui-dt-even" style="">
<td id="yui-gen85" class="yui-dt0-col-SKU yui-dt-col-SKU yui-dt-sortable yui-dt-first" headers="yui-dt0-th-SKU ">
<div id="yui-gen84" class="yui-dt-liner">21-38485</div>
</td>
<td id="yui-gen73" class="yui-dt0-col-Item yui-dt-col-Item yui-dt-sortable" headers="yui-dt0-th-Item ">
</td>
<td class="yui-dt0-col-Quantity yui-dt-col-Quantity yui-dt-sortable" headers="yui-dt0-th-Quantity " id="yui-gen133">
</td>
<td class="yui-dt0-col-Description yui-dt-col-Description yui-dt-sortable yui-dt-last yui-dt-asc" headers="yui-dt0-th-Description " id="yui-gen121">
</td>
</tr>
<tr id="yui-rec15" class="yui-dt-rec mark yui-dt-odd" style="">
</tr>
<tr id="yui-rec11" class="yui-dt-rec yui-dt-even" style="">
</tr>
<tr id="yui-rec20" class="yui-dt-rec yui-dt-odd" style="">
</tr>
<tr id="yui-rec17" class="yui-dt-rec mark yui-dt-even" style="">
</tr>
<tr id="yui-rec8" class="yui-dt-rec yui-dt-odd" style="">
</tr>
<tr id="yui-rec9" class="yui-dt-rec mark yui-dt-even" style="">
</tr>
<tr id="yui-rec18" class="yui-dt-rec yui-dt-odd" style="">
</tr>
<tr id="yui-rec7" class="yui-dt-rec yui-dt-even" style="">
</tr>
<tr id="yui-rec10" class="yui-dt-rec yui-dt-odd" style="">
</tr>
<tr id="yui-rec16" class="yui-dt-rec yui-dt-even" style="">
</tr>
<tr id="yui-rec13" class="yui-dt-rec yui-dt-last yui-dt-odd" style="">
</tr>
</tbody>
</table>
</div>
</div>
<script src="assets/js/data.js" type="text/javascript">
</script>
<script type="text/javascript">
</script>
</div>
</div>
</div>
<h2 class="first">CSS</h2>
<p>We apply custom CSS for a simpler looking table so the marked rows can really stand out.</p>
<div class="dp-highlighter">
</div>
<textarea class="CSS" rows="1" cols="60" name="code" style="display: none;">/* Remove row striping, column borders, and sort highlighting */ .yui-skin-sam tr.yui-dt-odd, .yui-skin-sam tr.yui-dt-odd td.yui-dt-asc, .yui-skin-sam tr.yui-dt-odd td.yui-dt-desc, .yui-skin-sam tr.yui-dt-even td.yui-dt-asc, .yui-skin-sam tr.yui-dt-even td.yui-dt-desc { background-color: #fff; } .yui-skin-sam .yui-dt tbody td { border-bottom: 1px solid #ddd; } .yui-skin-sam .yui-dt thead th { border-bottom: 1px solid #7f7f7f; } .yui-skin-sam .yui-dt tr.yui-dt-last td, .yui-skin-sam .yui-dt th, .yui-skin-sam .yui-dt td { border: none; } /* Class for marked rows */ .yui-skin-sam .yui-dt tr.mark, .yui-skin-sam .yui-dt tr.mark td.yui-dt-asc, .yui-skin-sam .yui-dt tr.mark td.yui-dt-desc, .yui-skin-sam .yui-dt tr.mark td.yui-dt-asc, .yui-skin-sam .yui-dt tr.mark td.yui-dt-desc { background-color: #a33; color: #fff; } </textarea>
<h2>Markup:</h2>
<div class="dp-highlighter">
</div>
<textarea class="HTML" rows="1" cols="60" name="code" style="display: none;">&lt;div id="tbl"&gt;&lt;/div&gt; </textarea>
<h2>JavaScript:</h2>
<p>A custom row formatter is used to examine for Records where Quantity is less than 40 and apply a CSS class to the TR element to turn it a different color.</p>
<div class="dp-highlighter">
</div>
<textarea class="JScript" rows="1" cols="60" name="code" style="display: none;">YAHOO.util.Event.onDOMReady(function () { // Create a shortcut var Dom = YAHOO.util.Dom; // Contain our code under the YAHOO.example namespace var Ex = YAHOO.example; // Create the DataSource Ex.dataSource = new YAHOO.util.DataSource(Ex.Data.inventory); Ex.dataSource.responseType = YAHOO.util.DataSource.TYPE_JSARRAY; Ex.dataSource.responseSchema = { fields : ['SKU','Quantity','Item','Description'] }; // Define a custom row formatter function var myRowFormatter = function(elTr, oRecord) { if (oRecord.getData('Quantity') &lt; 40) { Dom.addClass(elTr, 'mark'); } return true; }; // Instantiate the DataTable. Ex.dataTable = new YAHOO.widget.DataTable('tbl', [ {key:'SKU',sortable: true}, {key:'Item',sortable: true}, {key:'Quantity',sortable: true}, {key:'Description',sortable: true} ], Ex.dataSource, {formatRow: myRowFormatter}); // Enable the row formatter }); </textarea>
<h2>Configuration for This Example</h2>
<p>
</p>
</div>
<div class="yui-u">
</div>
</div>
</div>
</div>
<div id="tocWrapper" class="yui-b">
</div>
<div id="ft">
</div>
</div>
<script src="/yui/assets/dpSyntaxHighlighter.js">
</script>
<script language="javascript">
</script>
<script src="../../assets/YUIexamples.js">
</script>
<script src="http://l.yimg.com/d/lib/rt/rto1_78.js" type="text/javascript">
</script>
<script>
</script>
<noscript>&lt;img src="http://rtb.pclick.yahoo.com/images/nojs.gif?p=2012401882:FRTMA"&gt;</noscript>
<script language="javascript">
</script>
<noscript>&lt;img width=1 height=1 alt="" src="http://us.bc.yahoo.com/b?P=oY3BzkWTTNK2v_DeTbyz3Cb2wrM7wE3EbBsABzJ7&amp;T=1824ljeid%2fX%3d1304718363%2fE%3d2012401882%2fR%3ddev_net%2fK%3d5%2fV%3d2.1%2fW%3dH%2fY%3dYAHOO%2fF%3d1211831765%2fH%3dc2VydmVJZD0ib1kzQnprV1RUTksydl9EZVRieXozQ2Iyd3JNN3dFM0ViQnNBQnpKNyIgc2l0ZUlkPSI0NDY1NTUxIiB0U3RtcD0iMTMwNDcxODM2MzQ3NzM5MyIg%2fQ%3d-1%2fS%3d1%2fJ%3dF14C9345&amp;U=12d14qd1f%2fN%3dMc6lHWKImkg-%2fC%3d-1%2fD%3dFSRVY%2fB%3d-1%2fV%3d0"&gt;</noscript>
<script language="javascript">
</script>
<noscript>&lt;img width=1 height=1 alt="" src="http://us.bc.yahoo.com/b?P=oY3BzkWTTNK2v_DeTbyz3Cb2wrM7wE3EbBsABzJ7&amp;T=182ss9lc1%2fX%3d1304718363%2fE%3d2012401882%2fR%3ddev_net%2fK%3d5%2fV%3d2.1%2fW%3dH%2fY%3dYAHOO%2fF%3d2765024667%2fH%3dc2VydmVJZD0ib1kzQnprV1RUTksydl9EZVRieXozQ2Iyd3JNN3dFM0ViQnNBQnpKNyIgc2l0ZUlkPSI0NDY1NTUxIiB0U3RtcD0iMTMwNDcxODM2MzQ3NzM5MyIg%2fQ%3d-1%2fS%3d1%2fJ%3dF14C9345&amp;U=13e8b6bit%2fN%3dL86lHWKImkg-%2fC%3d289534.9603437.10326224.9298098%2fD%3dFOOT%2fB%3d4123617%2fV%3d1"&gt;</noscript>
<script language="javascript">
</script>
<script src="http://l.yimg.com/d/lib/bc/bc_2.0.5.js" language="javascript">
</script>
<script language="javascript">
</script>
<noscript>&lt;img width=1 height=1 alt="" src="http://us.bc.yahoo.com/b?P=oY3BzkWTTNK2v_DeTbyz3Cb2wrM7wE3EbBsABzJ7&amp;T=1829qmuil%2fX%3d1304718363%2fE%3d2012401882%2fR%3ddev_net%2fK%3d5%2fV%3d3.1%2fW%3dJ%2fY%3dYAHOO%2fF%3d3877075044%2fH%3dc2VydmVJZD0ib1kzQnprV1RUTksydl9EZVRieXozQ2Iyd3JNN3dFM0ViQnNBQnpKNyIgc2l0ZUlkPSI0NDY1NTUxIiB0U3RtcD0iMTMwNDcxODM2MzQ3NzM5MyIg%2fQ%3d-1%2fS%3d1%2fJ%3dF14C9345"&gt;</noscript>
<script language="javascript">
</script>
<script src="http://e.yimg.com/ii/yabcs.js" language="javascript">
</script>
<script language="javascript">
</script>
<noscript>&lt;img width=1 height=1 alt="" src="http://csc.beap.ad.yieldmanager.net/i?bv=1.0.0&amp;bs=(128iuuga9(gid$oY3BzkWTTNK2v_DeTbyz3Cb2wrM7wE3EbBsABzJ7,st$1304718363477393,v$1.0))&amp;t=J-D"&gt;</noscript>
</div>
</body>
</html>
Se ha alcanzado el límite del log de Firebug. 0 entradas sin mostrar.		Preferencias	 
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
<div id="page-top-outer">
</div>
<div class="clear">&nbsp;</div>
<div class="nav-outer-repeat">
</div>
<div class="clear"></div>
<div id="content-outer">
<div id="content">
<div class="nav">
</div>
<div>
</div>
<div id="basic" class="yui-skin-sam yui-dt">
<div id="yui-dt0-paginator0" class="yui-dt-paginator yui-pg-container" style="">
</div>
<div class="yui-dt-mask" style="display: none;"></div>
<table id="yuievtautoid-0" summary="">
<colgroup>
</colgroup>
<thead>
</thead>
<tbody class="yui-dt-message" style="display: none;">
</tbody>
<tbody class="yui-dt-data" tabindex="0" style="">
<tr id="yui-rec5" class="yui-dt-rec yui-dt-first yui-dt-even" style="">
</tr>
<tr id="yui-rec6" class="yui-dt-rec yui-dt-odd" style="">
</tr>
<tr id="yui-rec7" class="yui-dt-rec yui-dt-even" style="">
</tr>
<tr id="yui-rec8" class="yui-dt-rec yui-dt-odd" style="">
<td id="yui-gen52" class="yui-dt0-col-codigo yui-dt-col-codigo yui-dt-asc yui-dt-sortable yui-dt-resizeable yui-dt-first" headers="yui-dt0-th-codigo ">
</td>
<td id="yui-gen48" class="yui-dt0-col-descripcion yui-dt-col-descripcion yui-dt-sortable yui-dt-resizeable yui-dt-last" headers="yui-dt0-th-descripcion ">
</td>
</tr>
<tr id="yui-rec9" class="yui-dt-rec yui-dt-even" style="">
<td id="yui-gen54" class="yui-dt0-col-codigo yui-dt-col-codigo yui-dt-asc yui-dt-sortable yui-dt-resizeable yui-dt-first" headers="yui-dt0-th-codigo ">
</td>
<td id="yui-gen47" class="yui-dt0-col-descripcion yui-dt-col-descripcion yui-dt-sortable yui-dt-resizeable yui-dt-last" headers="yui-dt0-th-descripcion ">
</td>
</tr>
<tr id="yui-rec10" class="yui-dt-rec yui-dt-odd" style="">
<td id="yui-gen55" class="yui-dt0-col-codigo yui-dt-col-codigo yui-dt-asc yui-dt-sortable yui-dt-resizeable yui-dt-first" headers="yui-dt0-th-codigo ">
</td>
<td class="yui-dt0-col-descripcion yui-dt-col-descripcion yui-dt-sortable yui-dt-resizeable yui-dt-last" headers="yui-dt0-th-descripcion " id="yui-gen60">
</td>
</tr>
<tr id="yui-rec11" class="yui-dt-rec yui-dt-even" style="">
</tr>
<tr id="yui-rec12" class="yui-dt-rec yui-dt-odd" style="">
</tr>
<tr id="yui-rec13" class="yui-dt-rec yui-dt-even" style="">
</tr>
<tr id="yui-rec14" class="yui-dt-rec yui-dt-odd" style="">
</tr>
<tr id="yui-rec15" class="yui-dt-rec yui-dt-even" style="">
</tr>
<tr id="yui-rec16" class="yui-dt-rec yui-dt-odd" style="">
</tr>
<tr id="yui-rec17" class="yui-dt-rec yui-dt-even" style="">
</tr>
<tr id="yui-rec18" class="yui-dt-rec yui-dt-odd" style="">
</tr>
<tr id="yui-rec19" class="yui-dt-rec yui-dt-even" style="">
</tr>
<tr id="yui-rec20" class="yui-dt-rec yui-dt-odd" style="">
</tr>
<tr id="yui-rec21" class="yui-dt-rec yui-dt-even" style="">
</tr>
<tr id="yui-rec22" class="yui-dt-rec yui-dt-odd" style="">
</tr>
<tr id="yui-rec23" class="yui-dt-rec yui-dt-last yui-dt-even" style="">
</tr>
</tbody>
</table>
<div id="yui-dt0-paginator1" class="yui-dt-paginator yui-pg-container" style="">
</div>
</div>
<div class="body">
</div>
</div>
<div class="clear">&nbsp;</div>
</div>
<div class="clear">&nbsp;</div>
<div id="footer">
</div>
<div id="tooltip" style="display: none;">
</div>
</body>
</html>
.yui-skin-sam .yui-dt-mask {
    position: absolute;
    z-index: 9500;
}
.yui-dt-tmp {
    left: -9000px;
    position: absolute;
}
.yui-dt-scrollable .yui-dt-bd {
    overflow: auto;
}
.yui-dt-scrollable .yui-dt-hd {
    overflow: hidden;
    position: relative;
}
.yui-dt-scrollable .yui-dt-bd thead tr, .yui-dt-scrollable .yui-dt-bd thead th {
    left: -1500px;
    position: absolute;
}
.yui-dt-scrollable tbody {
}
.yui-skin-sam thead .yui-dt-sortable {
    cursor: pointer;
}
.yui-skin-sam thead .yui-dt-draggable {
    cursor: move;
}
.yui-dt-coltarget {
    position: absolute;
    z-index: 999;
}
.yui-dt-hd {
}
th.yui-dt-resizeable .yui-dt-resizerliner {
    position: relative;
}
.yui-dt-resizer {
    background-color: #CCCCCC;
    bottom: 0;
    cursor: col-resize;
    height: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
}
.yui-dt-resizerproxy {
    background-color: #CCCCCC;
    opacity: 0;
    position: absolute;
    visibility: hidden;
    z-index: 9000;
}
th.yui-dt-hidden .yui-dt-liner, td.yui-dt-hidden .yui-dt-liner, th.yui-dt-hidden .yui-dt-resizer {
    display: none;
}
.yui-dt-editor, .yui-dt-editor-shim {
    position: absolute;
    z-index: 9000;
}
.yui-skin-sam .yui-dt table {
    border: 1px solid #7F7F7F;
    border-collapse: separate;
    border-spacing: 0;
    font-family: arial;
    font-size: inherit;
    margin: 0;
    padding: 0;
}
.yui-skin-sam .yui-dt thead {
    border-spacing: 0;
}
.yui-skin-sam .yui-dt caption {
    color: #000000;
    font-size: 85%;
    font-style: italic;
    font-weight: normal;
    line-height: 1;
    padding: 1em 0;
    text-align: center;
}
.yui-skin-sam .yui-dt th {
    background: url("http://yui.yahooapis.com/2.9.0/build/assets/skins/sam/sprite.png") repeat-x scroll 0 0 #D8D8DA;
}
.yui-skin-sam .yui-dt th, .yui-skin-sam .yui-dt th a {
    color: #000000;
    font-weight: normal;
    text-decoration: none;
    vertical-align: bottom;
}
.yui-skin-sam .yui-dt th {
    border-color: -moz-use-text-color #CBCBCB -moz-use-text-color -moz-use-text-color;
    border-style: none solid none none;
    border-width: 0 1px 0 0;
    margin: 0;
    padding: 0;
}
.yui-skin-sam .yui-dt tr.yui-dt-first td {
    border-top: 1px solid #7F7F7F;
}
.yui-skin-sam .yui-dt th .yui-dt-liner {
    white-space: nowrap;
}
.yui-skin-sam .yui-dt-liner {
    margin: 0;
    padding: 4px 10px;
}
.yui-skin-sam .yui-dt-coltarget {
    background-color: red;
    width: 5px;
}
.yui-skin-sam .yui-dt td {
    border-color: -moz-use-text-color #CBCBCB -moz-use-text-color -moz-use-text-color;
    border-style: none solid none none;
    border-width: 0 1px 0 0;
    margin: 0;
    padding: 0;
    text-align: left;
}
.yui-skin-sam .yui-dt-list td {
    border-right: 0 none;
}
.yui-skin-sam .yui-dt-resizer {
    width: 6px;
}
.yui-skin-sam .yui-dt-mask {
    background-color: #000000;
    opacity: 0.25;
}
.yui-skin-sam .yui-dt-message {
    background-color: #FFFFFF;
}
.yui-skin-sam .yui-dt-scrollable table {
    border: 0 none;
}
.yui-skin-sam .yui-dt-scrollable .yui-dt-hd {
    border-left: 1px solid #7F7F7F;
    border-right: 1px solid #7F7F7F;
    border-top: 1px solid #7F7F7F;
}
.yui-skin-sam .yui-dt-scrollable .yui-dt-bd {
    background-color: #FFFFFF;
    border-bottom: 1px solid #7F7F7F;
    border-left: 1px solid #7F7F7F;
    border-right: 1px solid #7F7F7F;
}
.yui-skin-sam .yui-dt-scrollable .yui-dt-data tr.yui-dt-last td {
    border-bottom: 1px solid #7F7F7F;
}
.yui-skin-sam th.yui-dt-asc, .yui-skin-sam th.yui-dt-desc {
    background: url("http://yui.yahooapis.com/2.9.0/build/assets/skins/sam/sprite.png") repeat-x scroll 0 -100px transparent;
}
.yui-skin-sam th.yui-dt-sortable .yui-dt-label {
    margin-right: 10px;
}
.yui-skin-sam th.yui-dt-asc .yui-dt-liner {
    background: url("http://yui.yahooapis.com/2.9.0/build/datatable/assets/skins/sam/dt-arrow-up.png") no-repeat scroll right center transparent;
}
.yui-skin-sam th.yui-dt-desc .yui-dt-liner {
    background: url("http://yui.yahooapis.com/2.9.0/build/datatable/assets/skins/sam/dt-arrow-dn.png") no-repeat scroll right center transparent;
}
tbody .yui-dt-editable {
    cursor: pointer;
}
.yui-dt-editor {
    background-color: #F2F2F2;
    border: 1px solid #808080;
    padding: 6px;
    text-align: left;
}
.yui-dt-editor label {
    padding-left: 4px;
    padding-right: 6px;
}
.yui-dt-editor .yui-dt-button {
    padding-top: 6px;
    text-align: right;
}
.yui-dt-editor .yui-dt-button button {
    background: url("http://yui.yahooapis.com/2.9.0/build/assets/skins/sam/sprite.png") repeat-x scroll 0 0 transparent;
    border: 1px solid #999999;
    height: 1.8em;
    margin-left: 6px;
    width: 4em;
}
.yui-dt-editor .yui-dt-button button.yui-dt-default {
    background: url("http://yui.yahooapis.com/2.9.0/build/assets/skins/sam/sprite.png") repeat-x scroll 0 -1400px #5584E0;
    border: 1px solid #304369;
    color: #FFFFFF;
}
.yui-dt-editor .yui-dt-button button:hover {
    background: url("http://yui.yahooapis.com/2.9.0/build/assets/skins/sam/sprite.png") repeat-x scroll 0 -1300px transparent;
    color: #000000;
}
.yui-dt-editor .yui-dt-button button:active {
    background: url("http://yui.yahooapis.com/2.9.0/build/assets/skins/sam/sprite.png") repeat-x scroll 0 -1700px transparent;
    color: #000000;
}
.yui-skin-sam tr.yui-dt-even {
    background-color: #FFFFFF;
}
.yui-skin-sam tr.yui-dt-odd {
    background-color: #EDF5FF;
}
.yui-skin-sam tr.yui-dt-even td.yui-dt-asc, .yui-skin-sam tr.yui-dt-even td.yui-dt-desc {
    background-color: #EDF5FF;
}
.yui-skin-sam tr.yui-dt-odd td.yui-dt-asc, .yui-skin-sam tr.yui-dt-odd td.yui-dt-desc {
    background-color: #DBEAFF;
}
.yui-skin-sam .yui-dt-list tr.yui-dt-even {
    background-color: #FFFFFF;
}
.yui-skin-sam .yui-dt-list tr.yui-dt-odd {
    background-color: #FFFFFF;
}
.yui-skin-sam .yui-dt-list tr.yui-dt-even td.yui-dt-asc, .yui-skin-sam .yui-dt-list tr.yui-dt-even td.yui-dt-desc {
    background-color: #EDF5FF;
}
.yui-skin-sam .yui-dt-list tr.yui-dt-odd td.yui-dt-asc, .yui-skin-sam .yui-dt-list tr.yui-dt-odd td.yui-dt-desc {
    background-color: #EDF5FF;
}
.yui-skin-sam th.yui-dt-highlighted, .yui-skin-sam th.yui-dt-highlighted a {
    background-color: #B2D2FF;
}
.yui-skin-sam tr.yui-dt-highlighted, .yui-skin-sam tr.yui-dt-highlighted td.yui-dt-asc, .yui-skin-sam tr.yui-dt-highlighted td.yui-dt-desc, .yui-skin-sam tr.yui-dt-even td.yui-dt-highlighted, .yui-skin-sam tr.yui-dt-odd td.yui-dt-highlighted {
    background-color: #B2D2FF;
    cursor: pointer;
}
.yui-skin-sam .yui-dt-list th.yui-dt-highlighted, .yui-skin-sam .yui-dt-list th.yui-dt-highlighted a {
    background-color: #B2D2FF;
}
.yui-skin-sam .yui-dt-list tr.yui-dt-highlighted, .yui-skin-sam .yui-dt-list tr.yui-dt-highlighted td.yui-dt-asc, .yui-skin-sam .yui-dt-list tr.yui-dt-highlighted td.yui-dt-desc, .yui-skin-sam .yui-dt-list tr.yui-dt-even td.yui-dt-highlighted, .yui-skin-sam .yui-dt-list tr.yui-dt-odd td.yui-dt-highlighted {
    background-color: #B2D2FF;
    cursor: pointer;
}
.yui-skin-sam th.yui-dt-selected, .yui-skin-sam th.yui-dt-selected a {
    background-color: #446CD7;
}
.yui-skin-sam tr.yui-dt-selected td, .yui-skin-sam tr.yui-dt-selected td.yui-dt-asc, .yui-skin-sam tr.yui-dt-selected td.yui-dt-desc {
    background-color: #426FD9;
    color: #FFFFFF;
}
.yui-skin-sam tr.yui-dt-even td.yui-dt-selected, .yui-skin-sam tr.yui-dt-odd td.yui-dt-selected {
    background-color: #446CD7;
    color: #FFFFFF;
}
.yui-skin-sam .yui-dt-list th.yui-dt-selected, .yui-skin-sam .yui-dt-list th.yui-dt-selected a {
    background-color: #446CD7;
}
.yui-skin-sam .yui-dt-list tr.yui-dt-selected td, .yui-skin-sam .yui-dt-list tr.yui-dt-selected td.yui-dt-asc, .yui-skin-sam .yui-dt-list tr.yui-dt-selected td.yui-dt-desc {
    background-color: #426FD9;
    color: #FFFFFF;
}
.yui-skin-sam .yui-dt-list tr.yui-dt-even td.yui-dt-selected, .yui-skin-sam .yui-dt-list tr.yui-dt-odd td.yui-dt-selected {
    background-color: #446CD7;
    color: #FFFFFF;
}
.yui-skin-sam .yui-dt-paginator {
    display: block;
    margin: 6px 0;
    white-space: nowrap;
}
.yui-skin-sam .yui-dt-paginator .yui-dt-first, .yui-skin-sam .yui-dt-paginator .yui-dt-last, .yui-skin-sam .yui-dt-paginator .yui-dt-selected {
    padding: 2px 6px;
}
.yui-skin-sam .yui-dt-paginator a.yui-dt-first, .yui-skin-sam .yui-dt-paginator a.yui-dt-last {
    text-decoration: none;
}
.yui-skin-sam .yui-dt-paginator .yui-dt-previous, .yui-skin-sam .yui-dt-paginator .yui-dt-next {
    display: none;
}
.yui-skin-sam a.yui-dt-page {
    background-color: #FFFFFF;
    border: 1px solid #CBCBCB;
    padding: 2px 6px;
    text-decoration: none;
}
.yui-skin-sam .yui-dt-selected {
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
}
